:root {
    --main-color: #fff8f3;           
    --text-color: #4d332d;         
    --color-header: #de7830;       
    --color-header-dark: #d67027;  
    --color-nav-bg: #f9d5a7;       
    --color-nav-text: #6b3e26;     
    --color-hero-bg: #fcd5b5;          
    --color-btn-bg: #de7830;       
    --color-btn-hover: #d67027;    
    --color-footer-bg: #6b3e26;    
    --color-footer-text: #fff8f3;  
    --color-nav-list: #b85b2c;
    --color-hero: #f2ccad;
    --color-hero-sec:  #de7830;
    --color-sea:#f2b081;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif, Helvetica;
    background-color: var(--main-color);
    color: #4d332d;
    line-height: 1.5;
    padding: 10px;
}

.main-header {
    background-color: var(--color-header);
    border: 5px solid var(--color-header-dark);
    padding: 25px;
    font-size: 24px;
    letter-spacing: 1px;
    
}

.header-content {
    text-align: center;
}

.site-title {
    color: var(--main-color);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-nav {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav-list {
    display: flex;
}

.nav-list li {
    display: inline;
    margin-right: 5px;
}


.nav-list a {
    flex: 1;
    margin: 3px;
    background-color: var(--color-nav-text);
    padding: 2px;
    border: 1px dotted var(--color-nav-text);
    font-size: 8px;
    color: white;
    background-color: var(--color-nav-list);
    border-radius: 7px;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}

.nav-list a:hover {
    background-color: var(--color-btn-hover);
}

.main-content {
    padding: 10px;
}

.section {
    display: none;
    margin: 20px 0;
}

.section.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-section {
    background-color: var(--color-hero);
    padding: 5px;
    text-align: center;
    border: 1px dotted var(--color-hero-sec);
    
}

.hero-title {
    font-size: 80px;
    color: var(--color-nav-text);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 5px 5px var(--color-btn-hover);
}

.hero-subtitle {
    font-size: 18x;
    color: var(--text-color);
    margin: 2px 0;
}

.search-container {
    margin-top: 5px;
    text-align: left;
}

.search-input {
    width: 100px;
    padding: 5px;
    font-size: 14px;
    border: 3px solid var(--color-header);
    background-color: var(--color-sea);
    color: rgb(0, 0, 0);
    border-radius: 10px;

}

.search-button, .clear-button {
    padding: 5px 8px;
    background-color: var(--color-btn-bg);
    color: white;
    border: 2px solid var(--color-header);
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 3px;
}

.search-button:hover {
    background-color: var(--color-btn-hover);
}

.clear-button:hover {
    background-color: var(--color-btn-hover);
}

.filter-section {
    background-color: var(--color-nav-bg);
    padding: 5px;
    margin: 7px 0;

}

.filter-section h3 {
    color: var(--color-header-dark);
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}

.centerfilter {
   display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center; 
}

.filter-buttons {
    margin-top: 3px;
}

.filter-btn {
    background-color: var(--color-btn-bg);
    color: white;
    border: 1px solid var(--color-header);
    padding: 3px 8px;
    margin: 3px;
    font-size: 13px;
    cursor: pointer;
}

.filter-btn.active {
    background-color: var(--color-btn-bg);
    color: white;
}

.filter-btn.active:hover {
    background-color: var(--color-btn-hover);
}


.recipes-section h2 {
    color: var(--color-hero-bg);
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

.centerrecipe {
display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center; 
}


.sort-controls {
    margin: 3px 0;
    text-align: left;
}

.sort-controls label {
    font-size: 14px;
    color: var(--text-color);
    margin-right: 2px;
    justify-content: center;
}

.sort-dropdown {
    font-size: 14px;
    background-color: var(--color-card-bg);
    border: 1px dotted var(--color-header);
    padding: 5px;
    border-radius: 5px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 10px 0;
    margin-top: 60px;
}


.recipe-card {
    border: 1px dotted var(--color-header);
    background-color: var(--color-card-bg);
    margin: 8px 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: var(--color-footer-bg);
    border-radius: 12px;
}

.recipe-card:hover{
    box-shadow: #fcd5b5;
}

.recipe-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid var(--color-header);
    float: right;
    max-width: 100%;
    display: block;
}

.recipe-title {
    font-size: 15px;
    color: var(--text-color);
    font-weight: bold;
    margin: 1px 0;
    text-transform: uppercase;
}

.recipe-category {
    font-size: 15px;
    color: var(--text-color);
    background-color: var(--color-nav-bg);
    padding: 1px 4px;
    display: inline-block;
    border-radius: 3px;
    padding: 4px;
}

.recipe-time {
    font-size: 12px;
    color: var(--text-color);
    display: flex;
    margin-right: 5px;
    padding: 1px;
}

.recipe-difficulty {
    font-size: 12px;
    color: var(--text-color);
    display: flex;
    margin-right: 5px;
    padding: 1px
}

.recipe-rating {
    font-size: 12px;
    color: var(--text-color);
    display: flex;
    margin-right: 5px;
    padding: 1px
}

.recipe-description {
    font-size: 12px;
    color: var(--text-color);
    margin: 5px 0;
    line-height: 1;
    padding: 1px;
}

.recipe-actions {
    margin-top: 2px;
}

.favorite-btn, .view-btn {
    background-color: var(--color-btn-bg);
    color: white;
    border: 1px dotted var(--color-header);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    margin-right: 1px;
}

.centerfavorites {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
}

.p{
    text-align: center;
    font-size: 12px;
}
.favorite-btn:hover{
    background-color: var(--color-btn-hover);
}

.view-btn:hover {
    background-color: var(--color-btn-hover);
}

.data-category.breakfast:hover {
    background-color: var(--color-btn-hover);
}

.no-results, .no-favorites {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: var(--color-btn-bg);
    padding: 10px;
    border: 5px dotted var(--color-header);
}

.about-section {
    background-color: var(--color-hero-bg);
    padding: 25px;
    text-align: center;
    margin: 20px auto;
}

.about-section h2 {
    color: var(--text-color);
    font-size: 50px;
    text-decoration: none;
    margin-bottom: 18px;
    justify-content: center;
}

.about-section p {
    font-size: 25px;
    padding: 3px;
    color: var(--text-color);
    margin: 10px 0;
    line-height: 1.8;
    text-align: center;
    justify-content: center;
}

.stats {
    margin: 5px 0;
    text-align: center;
}

.stat-item {
    display: inline-block;
    margin: 4px;
    background-color: var(--color-btn-bg);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px dotted var(--color-header);
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.stat-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.stat-item p {
    font-size: 14px;
    margin: 3;
    color: white;
    text-align: center;
    font-weight: bold;
}

.main-footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    padding: 10px;
    border-top: 1px dotted var(--color-header);
    text-align: center;
}

.footer-content {
    font-size: 12px;
}

.footer-links {
    margin-top: 2px;
}

.footer-links a {
    color: var(--color-footer-text);
    text-decoration: underline;
    margin-right: 3px;
    font-size: 12px;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--color-card-bg);
    border: 1px dotted var(--color-header);
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    background-color: var(--color-btn-bg);
    margin: 10% auto;
    padding: 4px;
    border: 1px dotted white;
    border-radius: 12px;
    width: 100%;
    max-width: 720px;
}

.close-modal {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.modal-recipe-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--color-header);
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
}

.modal-recipe-title {
    font-size: 35px;
    color: white;
    margin: 8px 0;
    text-align: left;
}

.modal-ingredients, .modal-instructions {
    margin: 5px 0;
    text-align: left;
    padding: 5px;
}

.modal-ingredients h4, .modal-instructions h4 {
    font-size: 30px;
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 3px;
    text-align: left;
    font-weight: bold;
}

.modal-ingredients ul, .modal-instructions ol {
    font-size: 15px;
    color: var(--main-color);
    margin-left: 13px;
    line-height: 1.1;
}

.modal-ingredients li, .modal-instructions li {
    margin: 1px 0;
    line-height: 1.1;
}

@media (max-width: 786px) {
    .site-title {
        font-size: 30px;
    }
    
    .hero-title {
        font-size: 30px;
    }
    
    .search-input {
        width: 80px;
    }
    
    .recipe-card {
        margin: 3px 0;
    }
    
    .recipe-image {
        width: 100%;
        height: 30px;
    }

    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .site-title {
        font-size: 20px;
    }
    
    .hero-title {
        font-size: 25px;
    }
    
    .nav-list li {
        display: flex;
        margin: 5px 0;
    }
    
    .modal-content {
        width: 100%;
        margin: 20% auto;
    }

    .recipe-grid {
        grid-template-columns: 1fr;
    }
}

